.profile__add-btn {
    min-width: 150px;
    height: 50px;
    margin: 40px 0 0 auto;
    background-color: black;
    background-image: url('../../../images/add.png');
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    border: white solid 2px;
    border-radius: 2px;
}

@media screen and (min-width: 576px) and (max-width: 899px) {
    .profile__add-btn {
        width: 400px;
        margin: 40px auto;
    }
}

@media screen and (min-width: 50px) and (max-width: 575px) {
    .profile__add-btn {
        min-width: 282px;
        margin: 36px auto;
    }
}