.header__logo {
    margin: 45px auto 36.25px auto;
    max-width: 173px;
    max-height: 33px;
}

@media screen and (min-width: 300px) and (max-width: 575px) {
    .header__logo {
        max-width: 126px;
        max-height: 24px;
        margin: 28px auto auto 27px;
    }
}