.footer__link {
    margin-right: 18px;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .footer__link:hover {
    opacity: .5;
    transition-duration: 1s;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link {
      display: flex;
      margin: 0 0 32px 0;
    }
  }