.cover__title {
    margin: 2.5% 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__title {
      font-size: 32px;
      height: 35px;
    }
  }