.profile__edit-btn {
    position: absolute;
    top: 0;
    right: 0;
    /* margin: auto; */
    margin-top: 20px;
    margin-left: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: black;
    background-image: url('../../../images/pencil.png');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    border: white solid 1px;
}

@media screen and (min-width: 300px) and (max-width: 575px) {
    .profile__edit-btn {
        right: 15px;
        margin: 20px auto;
        width: 18px;
        height: 18px;
    }
}