.profile__picture {
    margin-right: 30px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
}

@media screen and (min-width: 300px) and (max-width: 575px) {
    .profile__picture {
        margin: auto;
    }
}