.modal__close-btn {
    position: absolute;
    right: -40px;
    top: -40px;
    width: 40.7px;
    height: 40.7px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../../../images/close-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}