
@import url('./__title/intro__title.css');

@import url('./__text-main/intro__text-main.css');

@import url('./__list/intro__list.css');

@import url('./__text-subtitle/intro__text-subtitle.css');

.intro {
  width: 984px;
  color: white;
  margin: 92px auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
      max-width: 690px;
      margin-left: 5%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
      max-width: 720px;
      margin: 0 24px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .intro {
      max-width: 288px;
      margin: 64px 16px;
    }
  }
