@import url('./__place/places__place.css');

@import url('./__title/places__title.css');

@import url('./__image/places__image.css');

@import url('./__website/places__website.css');

@import url('./__website-link/places__website-link.css');

@import url('./__website-url-heading/places__website-url-heading.css');

@import url('./__paragraphs/places__paragraphs.css');

@import url('./__paragraph/places__paragraph.css');

.places {
  max-width: 984px;
  margin: 80px auto;
}

 @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
      max-width: 928px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
      max-width: 720px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .places {
      max-width: 320px;
      margin: 0 auto;
    }
  }